* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {

    font-family: Inter, Arial, sans-serif;

    background:#0f172a;

    color:#e2e8f0;

    max-width:1100px;

    margin:auto;

    padding:40px;

    line-height:1.6;

}

nav {

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:80px;

}

.logo {

font-size:1.5rem;

font-weight:bold;

}

.nav-links {

display:flex;

gap:25px;

}

a {
    text-decoration:none;
    color:#cbd5e1;
}

@media (max-width: 768px) {

    .hero {

        flex-direction:column;

        text-align:center;

    }

}

.hero {

    display:flex;

    align-items:center;

    gap:60px;

    margin-bottom:100px;

}

.hero-image img {

    width:250px;

    height:250px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #334155;

}

.hero-content {

    flex:1;

}

.hero-content h1 {

    font-size:3rem;

    margin-bottom:10px;

}

.subtitle {

    color:#94a3b8;

    margin-bottom:20px;

    font-size:1.1rem;

}

.buttons {

margin-top:30px;

display:flex;

gap:15px;

}

.btn {

padding:12px 24px;

border:1px solid #334155;

border-radius:10px;

transition:0.3s;

}

.btn:hover {

background:#1e293b;

}

section {

margin-bottom:80px;

}

h2 {

margin-bottom:20px;

font-size:2rem;

}

.cards {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.card {

background:#1e293b;

padding:25px;

border-radius:15px;

transition:0.3s;

}

/*.card:hover {

transform:translateY(-5px);

}

.card h3 {

margin-bottom:10px;

}

.card p {

color:#94a3b8;

} */

.carousel {

    display:flex;

    gap:20px;

}

.card {

    flex:1;

    background:#1e293b;

    padding:20px;

    border-radius:15px;

    transition:all 0.4s ease;

}

.card:hover {

    flex:2;

}

.details {

    max-height:0;

    opacity:0;

    overflow:hidden;

    transition:all 0.4s ease;

}

.card:hover .details {

    max-height:200px;

    opacity:1;

    margin-top:15px;

}

ul {

padding-left:20px;

}

footer {

margin-top:50px;

padding-top:20px;

border-top:1px solid #334155;

color:#94a3b8;

}